.footer {
    background-color: #000;
    height: 271px;
    text-align: center;
    .footer-logo {
        color: #fff;
        padding: 5rem 0 0 0;
        font-size: 24px;
        font-family: $main-font
    }
    .footer-paragraph {
        color: #fff;
        font-size: 16px;
        font-family: $main-font;
        font-weight: 300;
        margin-top: 0;
        padding-top: 0
    }
    .footer-social {
        i {
            color: #eaeaea;
            padding: 0 5px;
        }
    }
}